<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>Description</key>
    <string>MongoDB Server</string>
    <key>OrderPreference</key>
    <string>Late</string>
    <key>Provides</key>
    <array>
      <string>mongodb</string>
    </array>
    <key>Uses</key>
    <array/>
  </dict>
</plist>